<mat-nav-list>
    <div fxLayout="column" fxLayoutAlign="space-between left" fxLayoutGap="10px" class="stats-cards">
        <mdb-card>
            <!--Card image-->
            <mdb-card-img src="assets/virus.jpg">
            </mdb-card-img>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <!-- <h1 style="color: blue; 
                text-align: center;
                font-family: sans-serif;">
                Global Information
                </h1> -->
              </mdb-card-title>
              <!--Text-->
              <mdb-card-text>
                <p style="text-align: center; color: purple;">
                    The outbreak started in Wuhan, Hubei province, China, in December 2019
                </p>
              </mdb-card-text>
            </mdb-card-body>
        </mdb-card>

        <mat-card fxFlex="25">
            <h1 style="text-align: center; font-size: 1.5em;">Coronavirus Cases</h1>
            <p style="font-weight: bold; text-align: center; color: gray; font-size: 2em;">
                1, 202, 435
            </p>
        </mat-card>
        
        <mat-card fxFlex="25">
            <h1 style="text-align: center; font-size: 1.5em;">Deaths</h1>
            <p style="font-weight: bold; text-align: center; color: red; font-size: 2em;">
                64, 729
                <span>
                    <mat-icon color="primary">trending_up</mat-icon>
                </span>
                5.38 %
            </p>
            <h1 style="text-align: center; font-size: 1.5em;">Recovered</h1>
            <p style="font-weight: bold; text-align: center; color: rgb(111, 182, 6); font-size: 2em;">
                246, 638
                <span>
                    <mat-icon color="primary">trending_up</mat-icon>
                </span>
                20.51 %
            </p>
        </mat-card>
    </div>

    

    <!-- <mat-divider></mat-divider> -->

    <!-- <h1 matSubheader>Pages</h1>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/charts">Charts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/statistic">Statistic</a> -->


</mat-nav-list>